---
import { ContextActions } from "@/components/context-view";
import { render } from "astro:content";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
import { ContextTags } from "@/components/context-tags";
import { marked } from "marked";
import { authorImage, authorName } from "@/db/postHelpers";
import WeeklyHeader from "@/components/weekly/WeeklyHeader.astro";
const context = Astro.props.context;
const { Content, headings, remarkPluginFrontmatter } = await render(context);

const html = marked(context.body);
---

<div class="sticky top-0">
  <div class="max-w-3xl mx-auto px-4 space-y-2 border-b border-border">
    <div class="bg-background md:border-x border-border py-4 md:px-8 md:py-6">
      <div class="flex justify-between items-start">
        <h1 class="text-2xl font-medium tracking-tight">
          {context.data.title}
        </h1>
        <div class="hidden md:block">
          <ContextActions context={context} client:load />
        </div>
      </div>
      <p class="text-muted-foreground max-w-md my-2">
        {context.data.description}
      </p>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <img src={authorImage(context)} class="size-5 rounded-sm" />
          <p class="text-muted-foreground text-sm">{authorName(context)}</p>
        </div>
        <ContextTags tags={context.data.tags} />
      </div>
    </div>
  </div>
</div>
<div class="border-b border-border px-4 max-w-3xl mx-auto">
  <div class="border-border border-x p-4 md:p-8">
    <div
      class="prose max-w-3xl
      prose-markdown
        dark:prose-invert
        font-mono
        text-sm
        prose-th:text-xs
        prose-headings:text-base
        prose-headings:font-bold
        prose-code:text-sm
        prose-code:border-border
        prose-inline-code:border
        prose-inline-code:rounded
        prose-inline-code:px-1
        prose-inline-code:py-px
        prose-inline-code:font-medium
        prose-pre:bg-background
        prose-pre:text-foreground
        prose-pre:border
        prose-pre:border-border
        prose-li:my-1
        prose-li:pl-3
        prose-ul:pl-2
        prose-ul:marker:text-foreground
        prose-ul:list-(--dash-list-marker)"
    >
      <div set:html={html} />
    </div>
  </div>
</div>
